<app-header></app-header>
<section id="albumsSection" class="jumbotron text-center">
   <div class="container">
      <h1 class="jumbotron-heading">{{tuple?.title}}</h1>
      <!-- IF NOT CONNECTED -->
      <div class="connection-form" *ngIf="!tuple?.connected">
         <form id="connectForm" name="connectForm" action="/connect/facebook" method="POST" ngNoForm>
            <input type="hidden" name="scope" value="user_photos" />
            <input type="hidden" name="userEmail" value="{{userEmail}}" />
            <div class="form-info">
               <p>You aren't connected to Facebook yet. Click the button to connect this application with your
                  Facebook account.
               </p>
            </div>
            <div class="form-group">
               <button type="submit" class="btn btn-lg btn-primary">
                  <i class="fa fa-facebook" aria-hidden="true"
                     style="padding-right:25px;margin-right:10px;border-right: 3px solid #fff"></i> 
                     Connect to Facebook
               </button>
            </div>
         </form>
      </div>
      <!-- ELSE -->
      <p *ngIf="tuple?.connected" class="lead text-muted">Something short and leading about the collection below—its
         contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it
         entirely.</p>
      <!-- END IF -->
      <app-pagination
        [currentPage]='currentPage'
        [totalCount]='tuple?.totalCount'
        [pageSize]='tuple?.pageSize'
        [pagesToShow]='tuple?.pagesToShow'
        [loading]='loading'
        (goPrev)="prevPage()"
        (goPage)="goToPage($event)"
        (goNext)="nextPage()">
      </app-pagination>
   </div>
</section>
<div class="album text-muted">
   <div class="container">
      <div class="row">
         <div *ngFor="let album of tuple?.albums" class="card">
            <a [routerLink]="['/album', album.id]">
               <photo-details [photoUri]='album.coverPhotoUri'></photo-details>
            </a>
            <p class="card-text">
               {{album.name}}
            </p>
         </div>
         <div *ngIf='tuple?.albums.length === 0' class="no-content-area"></div>
      </div>
   </div>
</div>
<app-footer [topSection]="'albumsSection'"></app-footer>