.card {
	-webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
}

.card-header {
	background-color: #456caa;
	border-color: #456caa;
}

.card-header:first-child {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.card-header .mb-0 {
	color: #fff;
}